@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@font-face {
  font-family: "prox";
  font-weight: 400;
  src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: "FontAwesome";
  src: url(../fonts/FontAwesome.otf);
}

@font-face {
  font-family: "prox";
  font-weight: 300;
  src: url(../fonts/ProximaNova-Light.otf);
}

@font-face {
  font-family: "prox";
  font-weight: 500;
  src: url(../fonts/ProximaNova-Semibold.otf);
}

@font-face {
  font-family: "prox";
  font-weight: 600;
  src: url(../fonts/ProximaNova-Bold.otf);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1430px;
  }
}
::placeholder { 
  color: #aab7c4;
  opacity: 1;
}
input:focus::-webkit-input-placeholder {
  color: #2b2d50;
}
#app{
  overflow: hidden;
  min-height: 100vh;
}
:root {
  --shadow: 0 2px 5px 0 rgba(59, 65, 94, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  --mainText:#2b2d50;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
/* width */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 50px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #5c7c83;
}
.canvas-container {
  width: 100%;
  height: 100%;
}

.control-panel {
  width: calc(100% - 250px);
  background: #f8fafb;
  transition: all 0.3s ease;
}

.control-panel.collapsed {
  width: 100%;
}

html,
body {
  color: #2b2d50;
  font-family: "Roboto";
  font-weight: 300;
  margin: 0;
  padding: 0;
  background:#e3e8ee;
  overflow: auto;
}

label {
  margin: 0;
  padding: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input:focus {
  outline: none;
}
input {
  -webkit-appearance: none;
}

select:focus {
  outline: none;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  color: inherit;
}

table {
  background: transparent;
  padding: 0;
  margin: 0;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
  overflow: hidden;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

/* .table-container {
    border-radius: 3px;
    overflow: hidden;
    border: solid 1px #eaeaea;
  } */

button {
  border: none;
  background: #323b41;
  border-radius: 3px;
  padding: 7px 12px;
  color: #fff;
}

button:hover {
  cursor: pointer;
  background: #323b41;
}

button:focus {
  outline: none;
}

select {
  border: solid 1px #eaeaea;
  padding: 10px;
  font-size: 12pt;
  background: #fff;
  border-radius: 3px;
}

select:focus {
  outline: none;
  border-color: #aab7c4;
}

table th {
  padding-left: 10px;
}

table td {
  padding: 10px;
}
.standard-table {
  width: 100%;
}
.standard-table th {
  color: #c2c2c2;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 9pt;
  border-bottom: solid 1px #eaeaea;
  padding: 10px;
  padding-bottom: 5px;
}
.standard-table td {
  background: #fff;
  padding: 15px;
}
.standard-input {
  font-weight: 300;
  background: #fff;
  color: #252e32;
  padding: 5px;
  border: solid 1px #e2eaec;
  box-shadow: 0px 4px 30px -13px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  width: 100%;
  z-index: 1;
  margin: 5px 0px;
  font-size: 11pt;
  transition: all 0.1s ease;
  line-height: 14pt;
  text-align: left;
}
.input-row {
  display: flex;
  align-items: flex-start;
}
.standard-input.icon {
  padding-left: 35px;
}

.standard-input-icon {
  position: absolute;
  bottom: 8px;
  color:#aab7c4;
  left: 10px;
}
.input-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  color: #aab7c4;
  width: 29px;
  margin: 5px;
}

.standard-input-item {
  flex: 1;
  margin: 2px;
  position: relative;
  text-align: left;
}

.standard-input-item.has-error input {
  border-color: #f49898;
}

.tooltip-red {
  background: #f49898;
}

.standard-input-item.has-error .standard-input-title {
  color: #f49898;
}

.css-help-block {
  position: absolute;
  top: 32px;
  /* transform: translateY(100px); */
  right: 10px;
  color: #f5a0a0;
}

.standard-input-title {
  font-size: 10pt;
}

.standard-input:hover {
  border-color: #d1dde0;
}

.standard-input:focus {
  border-color: #aab7c4;
  outline: none;
}

.standard-select {
  background: #fff;
  border: solid 1px #eaeaea;
  border-radius: 3px;
  font-size: 12pt;
  width: 100%;
  padding: 10px;
  transition: all 0.1s ease;
  margin: 5px 0px;
}

.standard-select:hover {
  border-color: #dcdcdc;
}

.standard-select:focus {
  outline: none;
  border-color: #aab7c4;
}

.checkbox-container input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.standard-checkbox {
  height: 15px;
  width: 15px;
  background: #eee;
  border-radius: 3px;
  border: solid 2px #eaeaea;
  position: relative;
}

.checkbox-container:hover input ~ .standard-checkbox {
  background: #eaeaea;
}

.checkbox-container input:checked ~ .standard-checkbox {
  background: #3db1dc;
  border: none;
}

.standard-checkbox:after {
  font-family: FontAwesome;
  content: "\f00c";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 9pt;
  color: #fff;
  display: none;
}
.vdp-datepicker__calendar .cell {
  height: 30px;
  line-height: 30px;
  font-size: 10pt;
}

.vdp-datepicker__calendar header span {
  font-size: 10pt !important;
}

.vdp-datepicker__calendar {
  right:0;
  position: absolute;
  top: 37px !important;
  z-index: 100;
  background: #fff !important;
  width: 250px !important;
  border: none !important;
  box-shadow: 1px 8px 16px -3px rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

}

.vdp-datepicker__calendar .cell.selected, .vdp-datepicker__calendar .cell.selected.highlighted, .vdp-datepicker__calendar .cell.selected:hover {
  background:#85b2e0 !important;
  color:#fff;
}

.vdp-datepicker__calendar header .next:after {
  border-left: 10px solid #5c7c83 !important
}

.vdp-datepicker__calendar header .prev:after {
  border-right: 10px solid #5c7c83 !important
}
.project-view-table {
  max-width: 100%;
  width: 100%;
  color:#242427;
}

.project-view-table th {
  padding: 5px 10px;
  border-top: solid 1px #e2eaec;
  font-size: 8pt;
  color: #cbd6da;
  text-transform: uppercase;
  font-weight: 400;
  user-select: none;
}

.project-view-table th:hover {
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.project-view-table td {
  padding: 10px;
  font-size: 10pt;
  transition: transform 0.2s ease;
}

.project-view-table td.icon {
  text-align: center;
  font-size: 13pt;
  width: 30px;
}

.project-view-table tr {
  border: solid 1px #e2eaec;
  width: 100%;
  border-radius: var(--input-border-radius);
  overflow: hidden;
  background: #fff;
  transition: transform 0.2s ease;
}

.project-view-table tr:first-child {
  background: #f7fafc;
  cursor: default !important;
}

.project-view-table tr:hover {
 
  border: solid 1px #e2eaec;
  color: #000 !important;
}

.project-view-table tr:hover td:first-child {
  /* border-left: 4px solid #00c2f2; */
}

.project-view-table tr:hover td {
  background: transparent;
}

.project-view-table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

.project-view-table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

.project-view-table tr:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.pages {
  padding: 0px 15px;
  margin-top: 15px;
  display: flex;
  font-size: 10pt;
  color:#000;
  align-items: center;
}

.pages ul {
  margin-left: auto;
  display: flex;
  font-size: 10pt;
}

.pages li {
  float: left;
  padding: 0px 10px;
  font-size: 10pt;
  color: #000;
  font-weight: 500;
}

.pages li:hover {
  cursor: pointer;
  color: #5c7c83;
}

.pages li.active {
  color: #5c7c83;
  text-decoration: underline;
}
.modal-btn-container {
  float: right;
  padding: 15px;
  display: flex;
  overflow: auto;
  padding-right: 0;
}
.modal-btn {
  height:40px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0px 25px;
  border-radius: 3px;
  margin-left: 10px;
  font-size: 10pt;
}
.upload-file-btn {
  text-align: center;
  position: relative;
  margin: 0;
}
.hide-me {
  position: absolute;
  top: 0;
  pointer-events: none;
  opacity: 0;
}
.hide-this{
  opacity: 0;
}

.modal-btn.cancel {
  background: #fff;
  color: #688187;
  border: solid 1px #d6dfe1;
}

.modal-btn.cancel:hover {
  cursor: pointer;
  background: #f8fafb;
}

.modal-btn.cancel:active {
  background: #eaeff2;
}
.modal-btn.confirm {
  background: #3e7cc8;
  color: #fff;
}
.modal-btn.confirm:hover {
  background: #356caf;
  cursor: pointer;
}
.modal-btn.delete {
  background: #e35f6b;
  color: #fff;
  cursor: pointer;
}

.modal-btn.delete:hover {
  background: #d1535e;
}

.modal-btn.cancel {
  background: #fff;
  color: #688187;
  border: solid 1px #d6dfe1;
}

.modal-btn.cancel:hover {
  cursor: pointer;
  background: #f8fafb;
}

.modal-btn.cancel:active {
  background: #eaeff2;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-container {
  background: rgba(186, 222, 232, 0.69);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 0;
  left: 0;
}
.modal-1 {
  max-width: 500px;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  background: #fff;
}
.modal-top {
  padding: 15px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-bottom: solid 1px #eaeaea;
}
.modal-close {
  margin-left: auto;
}
.modal-inner {
  padding: 15px;
}
.modal-buttons {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal-sub-inner {
  background: #e3e8ee;
  padding: 15px;
  margin: 15px 0px;
}

.modal-sub-inner-title {
  font-size: 10pt;
  margin-bottom: 10px;
}